{
  "extends": "airbnb",
  "globals": {
      "angular": true
  },
  "env": {
      "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
